<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="desenvolvimento de jogos e realidade virtual" />
    <meta name="Keywords" content="realidade virtual, criamos jogos, desenvolvemos jogos" />
    <title>@ViewData["Title"] - Global Games</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/css/styles.css")" />
    
</head>
<body>
    <header>
        <div class="container">
            <div id="logo">
                <h1><span class="destaque">Global</span> Games Enterprise</h1>
            </div>

            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Servicos">Serviços</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </header>

    @RenderBody()

    <footer class="footer text-white mt-auto">
        <div class="container">
            <p class="text-center mb-0">Global Games, Todos os direitos reservados &copy; @DateTime.Now.Year</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
